/* Square container styles */
.square-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 20em;
}

.square {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10em;
  height: 25vh;
  color: #fff;
  font-size: 2em;
  margin-bottom: 20px;
  border-radius: 12px;
  padding: 20px;
  box-sizing: border-box;
}

.square button {
  background-color: #444;
  color: #fff;
  border: none;
  font-size: 0.70em;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 5px;
}

.square .button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.square button.toggled {
  background-color: #1edce2; /* Add toggled background color */
}

.square.green {
  background-color: green;
}

.square.purple {
  background-color: purple;
}

.square.orange {
  background-color: rgb(255, 123, 0);
}

.square.yellow {
  background-color: darkgoldenrod;
  align-items: center;
  justify-content: space-around;
}
