/* General styles */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 20px;
}

* {
  box-sizing: inherit;
}

.app-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative; /* Add relative positioning */
}

/* Container styles */
.volunteer-score-submission {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding: 20px;
  background-color: #333;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  height: 75vh;
}

/* Title styles */
.volunteer-score-submission h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5em;
}

/* Form styles */
.volunteer-score-submission form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.volunteer-score-submission label {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.volunteer-score-submission input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #444;
  color: #fff;
  margin-bottom: 20px;
  font-size: 1em;
  width: 100%;
}

.volunteer-score-submission .required {
  color: red;
  margin-left: 5px;
}

.volunteer-score-submission button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 2em;
  cursor: pointer;
  width: 100%;
}

.volunteer-score-submission button:hover {
  background-color: #0056b3;
}

.status-message {
  text-align: center;
  margin-top: 20px;
}

.status-message.success {
  color: #4caf50;
}

.status-message.error {
  color: #f44336;
}

/* Hamburger menu styles */
.hamburger-menu {
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  background-color: #333;
  padding: 3em;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}