/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure padding is included in the total width and height */
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #333; /* Background color for the entire page */
  overflow: auto; /* Allow scrolling */
}

.container {
  width: 100vw;  /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  display: flex;
  flex-direction: column; /* Arrange children in a column */
  justify-content: space-between; /* Space between top and bottom elements */
  align-items: center; /* Center content horizontally */
  padding-top: 20px; /* Padding at the top for spacing */
  background-color: #333; /* Background color */
  position: relative;
}

.text-container {
  text-align: center; /* Center-align text within the container */
  font-family: Heebo, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  z-index: 2; /* Ensure it stays above other elements */
}

.title-text {
  display: block; /* Ensure it takes a new line */
  font-size: 2em; /* Increase font size */
  color: #ffffff; /* Text color for "Calgary Stampede" */
  margin-bottom: 10px; /* Space between title and subtitle */
  font-weight: 500; /* Font weight for "Calgary Stampede" */
}

.subtitle-text {
  display: block; /* Ensure it takes a new line */
  font-size: 2.5em; /* Larger font size for "Build-a-Bot" */
  background: linear-gradient(to right, #017fe0ff, #badaf3); /* Gradient background */
  -webkit-background-clip: text; /* Use background clip for text */
  -webkit-text-fill-color: transparent; /* Make text fill transparent to show gradient */
  font-weight: 400; /* Font weight for "Build-a-Bot" */
  margin-bottom: -0.5em; /* mobileonly Add some space between subtitle and leaderboard */
}

.footer {
  width: 100%; /* Full width of the container */
  padding: 10px 0; /* Padding for better visual appearance */
  background-color: #444; /* Slightly lighter background color */
  text-align: center; /* Center-align text */
  font-family: Heebo, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
  font-weight: 500; /* Increased font weight for footer text */
  position: sticky;
  bottom: 0;
  z-index: 3; /* Ensure it stays above other elements */
}

.footer p {
  color: #fff; /* Text color for footer */
  font-size: 0.9em; /* Slightly smaller font size */
  margin: 0; /* Reset margin for footer text */
}

.footer a {
  color: #017fe0ff; /* Initial link color */
  text-decoration: none; /* Remove underline */
  margin-left: 5px; /* Space before link */
  font-weight: 700; /* Increased font weight for the link */
}

.footer a:hover {
  color: #badaf3ff; /* Link color on hover */
}

/* For desktop ONLY changes: */
@media only screen and (min-width: 768px) {
  .title-text {
    display: block; /* Ensure it takes a new line */
    font-size: 5em; /* Increase font size */
    color: #ffffff; /* Text color for "Calgary Stampede" */
    margin-bottom: 10px; /* Space between title and subtitle */
    font-weight: 500; /* Font weight for "Calgary Stampede" */
  }

  .subtitle-text {
    display: block; /* Ensure it takes a new line */
    font-size: 6em; /* Larger font size for "Build-a-Bot" */
    background: linear-gradient(to right, #017fe0ff, #badaf3ff); /* Gradient background */
    -webkit-background-clip: text; /* Use background clip for text */
    -webkit-text-fill-color: transparent; /* Make text fill transparent to show gradient */
    font-weight: 400; /* Font weight for "Build-a-Bot" */
    /* margin-bottom: -25em; /* Add some space between subtitle and leaderboard */
  }
}