#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
  position: fixed;
  top: 0;
  left: 25%;
}

.labelWrapper {
  font-size: 110px;
  font-family: Heebo, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #ffffff;
  font-size: 80px;
  line-height: 93%;
  font-weight: 500;
  font-family: Heebo, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.06em;
}
.label2 {
  background-image: linear-gradient(90deg, #017fe0ff 0%, #badaf3ff 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
  line-height: 93%;
  font-weight: 400;
  font-family: Heebo, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.06em;
}
.label3 {
  color: #ffffff;
  font-size: 80px;
  line-height: 93%;
  font-weight: 600;
  font-family: Heebo, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.06em;
}

.footer {
  width: 100%;
  padding: 5px 0;
  background-color: #333;
  text-align: center;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer p {
  margin: 0;
  font-size: 1em;
}

.footer a {
  color: #007bff;
  text-decoration: none;
}

.footer a:hover {
  color: #0056b3;
}

@media (max-width: 600px) {
  .footer {
    width: 100%;
    padding: 5px 0;
    background-color: #333;
    text-align: center;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 20px;
  }
  .footer p {
    margin: 0;
    font-size: 0.6em;
  }
}