/* Mobile-first styles */
.leaderboard {
  width: 100%;
  margin: 20px 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #333;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: #fff;
  z-index: 1; /* Ensure it doesn't cover the text-container */
}

.leaderboard-title {
  font-size: 0.75em;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.controls input,
.controls button {
  padding: 10px;
  border-radius: 25px;
  font-size: 1em;
}

.controls input {
  width: 70%;
  border: 1px solid #555;
  background-color: #444;
  color: #fff;
  margin-right: 10px;
}

.controls button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
}

.controls button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: auto;
  color: #fff;
  font-weight: bold;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #555;
}

th {
  background-color: #444;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #555;
}

tbody tr:hover {
  background-color: #444;
}

tbody tr.first-place {
  font-size: 1.5em;
  background-color: #ffdf00;
  font-weight: bold;
  color: #333;
}

tbody tr.second-place {
  font-size: 1.25em;
  background-color: #c0c0c0;
  font-weight: bold;
  color: #333;
}

tbody tr.third-place {
  font-size: 1em;
  background-color: #cd7f32;
  font-weight: bold;
  color: #333;
}

@media (min-width: 1024px) {
  .leaderboard {
    width: 90%;
    margin: 50px auto;
    margin-top: -10em;
    padding: 0px;
    font-size: 1.5em;
    position: fixed; /* Ensure it's below text-container */
    top: 18em;
  }

  .leaderboard-title {
    font-size: 0.5em;
  }

  h1 {
    font-size: 2.5em;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  tbody tr.first-place {
    font-size: 1.5em;
  }

  tbody tr.second-place {
    font-size: 1.25em;
  }

  tbody tr.third-place {
    font-size: 1em;
  }
}
